node_modules
preloads
prebuilds
boot.bundle
by-arch
pear.dev
pear.ps1
pear.cmd
pear/current
*.log
.DS_Store
*.tmp
/assets/

examples/desktop/package-lock.json
examples/terminal/package-lock.json
!test/fixtures/never/.git
!test/fixtures/never/.github
!test/fixtures/never/.DS_Store
!test/fixtures/app-with-never/.git
!test/fixtures/app-with-never/.github
!test/fixtures/app-with-never/.DS_Store
!test/fixtures/always/.git
!test/fixtures/always/.github
!test/fixtures/always/.DS_Store