name: Build

on:
  workflow_call:
    inputs:
      channel:
        type: string
        description: Channel to build
        required: true
        default: 'dev'
  workflow_dispatch:
    inputs:
      channel:
        type: choice
        description: Select channel to build
        required: true
        options:
          - pear://x6rummbhcc4e45emaryp5yzxtu55p6wbcq9mpyo8cwo7348xq3uo
          - pear://gd4n8itmfs6x7tzioj6jtxexiu4x4ijiu3grxdjwkbtkczw5dwho
          - pear://63q1a8m8z678h19u3ckrzkdmpk7ydkp88jrrjwnkg7c5prf7kuxy
      custom-commit:
        type: string
        description: Custom commit
        required: false
      dry-run:
        type: choice
        description: Dry run
        default: true
        options:
          - true
          - false

run-name: Build ${{ inputs.channel }}

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - name: Block PR Builds
        run: |
          if [[ "${{ github.event_name }}" == "pull_request" ]]; then
            echo "PRs may not trigger builds"
            exit 1
          fi

  build:
    needs: check
    uses: holepunchto/actions/.github/workflows/keet-automation.yml@v1
    secrets: inherit
    with:
      seed: ${{ inputs.channel == 'next' && secrets.AUTOMATION || secrets.BOT_AUTOMATION }}
      remote: ${{ inputs.channel == 'next' && secrets.AUTOMATION_PUBLIC_KEY || secrets.BOT_AUTOMATION_PUBLIC_KEY }}
      job: pear-platform
      channel: ${{ inputs.channel }}
      commit: ${{ inputs.custom-commit || github.sha }}
      dry-run: ${{ inputs.dry-run }}
