name: Build

on:
  workflow_dispatch:
    inputs:
      channel:
        type: choice
        options:
          - dev
          - stage
          - rc

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Build
        run: |
          keet-automation \
            --seed ${{ secrets.AUTOMATION }} \
            --remote c855820b0f7586b90a033b655aa97e713266fee588754223a29c489f540ef68d pear-platform \
            --commit ${{ github.sha }} \
            --channel ${{ inputs.channel }}
