name: Check
on:
  schedule:
    - cron:  '0 10 * * *'
  push:
    branches:
      - main
      - next
  pull_request:
  repository_dispatch:
  workflow_dispatch:
jobs:
  build:
    strategy:
      matrix:
        include:
        - os: ubuntu-latest
          platform: linux
          arch: x64
        - os: macos-latest
          platform: darwin
          arch: x64
        - os: windows-latest
          platform: win32
          arch: x64
    runs-on: ${{ matrix.os }}
    timeout-minutes: 30
    steps:
    - name: Checkout
      uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1 https://github.com/actions/checkout/releases/tag/v4.1.1
      with:
        persist-credentials: false
        ref: ${{ github.event.pull_request.head.ref }}
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@60edb5dd545a775178f52524783378180af0d1f8 # v4.0.2 https://github.com/actions/setup-node/releases/tag/v4.0.2
      with:
        node-version: lts/*

    - name: Cache corestore
      uses: actions/cache@v4
      with:
        path: ~/.pear-gha/v1-corestore-${{ matrix.os }}
        key: v1-corestore-${{ matrix.os }}

    - name: Install w/ dev deps
      run: npm install

    - name: Bootstrap
      run: npm run bootstrap -- --corestore ~/.pear-gha/v1-corestore-${{ matrix.os }}

    - name: Install Bare
      run: npm i -g bare-runtime

    - name: Test
      run: npm test

    - name: Lint
      run: npm run lint
