name: Build Status
on:
  schedule:
    - cron:  '0 10 * * *'
  push:
    branches:
      - main
      - next
  pull_request:
  repository_dispatch:
  workflow_dispatch:
jobs:
  build:
    strategy:
      matrix:
        include:
        - os: ubuntu-latest
          platform: linux
          arch: x64
        - os: macos-latest
          platform: darwin
          arch: x64
        - os: windows-latest
          platform: win32
          arch: x64
    runs-on: ${{ matrix.os }}
    timeout-minutes: 30
    steps:
    - name: Checkout
      uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1 https://github.com/actions/checkout/releases/tag/v4.1.1
      with:
        persist-credentials: false
        ref: ${{ github.event.pull_request.head.ref }}
    - name: Cache Corestore
      uses: actions/cache@13aacd865c20de90d75de3b17ebe84f7a17d57d2 # v4.0.0 https://github.com/actions/cache/releases/tag/v4.0.0
      with:
        path: pear/corestores/platform
        key: platform-${{ matrix.platform }}-${{ matrix.arch }}
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@60edb5dd545a775178f52524783378180af0d1f8 # v4.0.2 https://github.com/actions/setup-node/releases/tag/v4.0.2
      with:
        node-version: lts/*

    - name: Determine Localdev Pear per OS
      run: |
        if [[ "$RUNNER_OS" == "Windows" ]]; then
          echo "PEAR=\"pwsh -File ./pear.ps1\"" >> $GITHUB_ENV
        else
          echo "PEAR=./pear.dev >> $GITHUB_ENV
        fi
      shell: bash

    - name: Install w/ dev deps
      run: npm install

    - name: Bootstrap
      run: npm run bootstrap

    - name: Install pear-cli
      run: npm i -g pear

    - name: Install w/out dev deps
      run: npm i --omit=dev

    - name: Self-Stage
      run: $PEAR stage ci
      shell: bash

    - name: Update System Pear Key
      run: $PEAR info ci --key > $(npm list -g pear --parseable --depth=0)/pear.key
      shell: bash

    - name: Self-Seed
      run: $PEAR seed ci &
      shell: bash

    - name: Bootstrap System Pear from Local Seeded Pear
      run: pear

    - name: Shutdown Local Pear Sidecar
      if: "!startsWith(runner.os, 'Windows')"
      run: $PEAR sidecar shutdown
      shell: bash

    - name: Install w/ dev deps
      run: npm install

    - name: Run tests
      run: npm test

    - name: Lint
      run: npm run lint
