name: Build Status
on:
  schedule:
    - cron: '0 10 * * *'
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]
  repository_dispatch:
  workflow_dispatch:

permissions:
  contents: read
  actions: read
  checks: write

jobs:
  build:
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
          - os: macos-latest
          - os: windows-latest
    runs-on: ${{ matrix.os }}
    timeout-minutes: 15
    steps:
      - name: Setup repo
        uses: holepunchto/actions/.github/steps/setup-repo@v1

      - name: Install w/ dev deps
        run: npm install

      - name: Bootstrap
        run: npm run bootstrap

      - name: Install Bare
        run: npm i -g bare-runtime

      - name: Test
        run: npm test

      - name: Lint
        run: npm run lint
