name: Build Status
on:
  schedule:
    - cron:  '0 10 * * *'
  push:
    branches:
      - main
      - next
  pull_request:
  repository_dispatch:
  workflow_dispatch:
jobs:
  build:
    strategy:
      matrix:
        include:
        - os: ubuntu-latest
          platform: linux
          arch: x64
        - os: macos-latest
          platform: darwin
          arch: x64
        - os: windows-latest
          platform: win32
          arch: x64
    runs-on: ${{ matrix.os }}
    timeout-minutes: 15
    steps:
    - name: Checkout
      uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1 https://github.com/actions/checkout/releases/tag/v4.1.1
      with:
        persist-credentials: false
        ref: ${{ github.event.pull_request.head.ref }}
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@60edb5dd545a775178f52524783378180af0d1f8 # v4.0.2 https://github.com/actions/setup-node/releases/tag/v4.0.2
      with:
        node-version: lts/*

    - name: Determine Local Pear Command per OS
      run: echo "PEAR=$( [[ \"$RUNNER_OS\" == \"Windows\" ]] && echo 'pwsh -File ./pear.ps1' || echo './pear.dev' )" >> $GITHUB_ENV
      shell: bash

    - name: Install w/ dev deps
      run: npm install

    - name: Bootstrap
      run: npm run bootstrap

    - name: Install pear-cli
      run: npm i -g pear

    - name: Remove node_modules
      run: rm -fr node_modules
      shell: bash

    - name: Install w/out dev deps
      run: npm i --omit=dev

    - name: Self-Stage
      run: $PEAR stage ci
      shell: bash

    - name: Update System Pear Key
      run: $PEAR info ci --key > $(npm list -g pear --parseable --depth=0)/pear.key
      shell: bash

    - name: Self-Seed
      run: $PEAR seed ci &
      shell: bash

    - name: Bootstrap System Pear from Local Seeded Pear
      run: pear

    - name: Shutdown Local Pear Sidecar
      run: $PEAR sidecar shutdown
      shell: bash

    - name: Remove node_modules
      run: rm -fr node_modules
      shell: bash

    - name: Install w/ dev deps
      run: npm install

    - name: Install fixture deps
      run: |
        pushd ./test/fixtures/harness
        npm install
        popd
        pushd ./test/fixtures/encrypted
        npm install
        popd
      shell: bash

    - name: Test - Smoke
      run: pear run -t test/01-smoke.test.js

    - name: Test - Shutdown
      run: pear run -t test/02-shutdown.test.js

    - name: Test - Teardown
      run: pear run -t test/03-teardown.test.js

    - name: Test - Platform Updates
      run: pear run -t test/04-platform-updates.test.js

    - name: Test - App Updates
      run: pear run -t test/05-app-updates.test.js

    - name: Test - Worker
      run: pear run -t test/06-worker.test.js

    - name: Test - Encrypted Apps
      run: pear run -t test/07-encrypted.test.js

    - name: Shutdown Local Pear Sidecar
      run: $PEAR sidecar shutdown
      shell: bash

    # - name: Lint
    #   run: npm run lint
