name: Build Status
on:
  push:
    branches:
      - main
      - next
  pull_request:
jobs:
  build:
    strategy:
      matrix:
        include:
        - os: ubuntu-latest
          platform: linux
          arch: x64
    runs-on: ${{ matrix.os }}
    continue-on-error: true
    steps:
    - name: Checkout
      uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1 https://github.com/actions/checkout/releases/tag/v4.1.1
      with:
        persist-credentials: false
        ref: ${{ github.event.pull_request.head.ref }}
    - name: Cache Corestore
      uses: actions/cache@13aacd865c20de90d75de3b17ebe84f7a17d57d2 # v4.0.0 https://github.com/actions/cache/releases/tag/v4.0.0
      with:
        path: pear/corestores/platform
        key: platform-${{ matrix.platform }}-${{ matrix.arch }}
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@60edb5dd545a775178f52524783378180af0d1f8 # v4.0.2 https://github.com/actions/setup-node/releases/tag/v4.0.2
      with:
        node-version: lts/*
    - name: Install dependencies
      run: npm install
      env:
        NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    - name: Bootstrap
      run: npm run bootstrap
    - name: Self-stage
      run: ./pear.dev stage ci
    - name: Install Pear
      run:  npm i -g pear && pear
    - name: Self-seed
      run: nohup ./pear.dev seed ci & echo $! > seed-pid
    - name: Switch to CI Pear
      run:  pear sidecar --key=$(./pear.dev info --key --json dev | node -e "process.stdin.once('data', (b) => console.log('pear://' + JSON.parse((b+'').split('\n')[0]).data.z32))")
    - name: Stop Self-seed
      run: kill $(cat seed-pid) && rm seed-pid
    - name: Run tests
      if: matrix.os != 'windows-latest'
      run: npm test
    - name: Run Windows tests
      if: matrix.os == 'windows-latest'
      run: npm run test:win
    - name: Lint
      run: npm run lint
    - name: Switch back to Production Pear
      run: pkill pear && npx pear
